.btn-retour {
	display: inline-block;
	background: #3b3b7a;
	color: white;
	text-decoration: none;
	padding: 8px 14px;
	border-radius: 6px;
	margin: 16px;
}

.btn-retour:hover {
	background: #2a2a5a;
	transition: ease-in-out 0.2s;
}